body {
    font-family: 'Helvetica', Arial, sans-serif;
    font-weight: 100;
    line-height: 1.5;
    letter-spacing: 0.2px;
    font-size: 16px;
    color: #5c5c5c;
}

* {
    font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    letter-spacing: 0.5px;
    color: #5c5c5c;
}

p, li, a, span {
    font-weight: 300;
    font-size: 1.3rem;
    color: #5c5c5c;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#main-content {
    flex: 1;
}

.full-height {
    height: 100%;
}

.row.full-height {
    height: 100%;
}

.image-column img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: auto;
    max-height: 100%;
}

.location-text {
    color: #000;
}

.map-container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .map-container {
         width: 90%;
         max-width: none;
    }
}